<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="KLAAR" xml:lang="nl-nl" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Categoriseren:views;Views:categoriseren" />Categoriseren van views</h1>
        <p>U gebruikt viewcategorieën om de views in uw project te classificeren. U maakt de view categorieën in de Bibliotheek verkenner. U kunt zoveel viewcategorieën creëren als u wenst. De afzonderlijke views kunt u vervolgens in de geschikte view categorieën plaatsen.</p>
        <p>Het op deze wijze categoriseren van views maakt het makkelijker om de view te vinden waarnaar u op zoek bent, bijvoorbeeld bij het selecteren van een view om deze toe te passen op het huidige project. Telkens als u een view selecteert staan deze ingedeeld in hun categorieën, waarbij alle niet bij een categorie horende views onderaan de bestaande viewcategorieën worden weergegeven.</p>
        <p>Om een nieuwe viewcategorie te creëren:</p>
        <ol style="list-style-type: decimal;">
            <li class="p">Open de Bibliotheek verkenner.            </li>
            <li class="p">Open de viewcategorie bibliotheek. Alle aanwezige viewcategorieën verschijnen in de lijstview.            </li>
            <li class="p">Rechtsklik op een leeg gebied in de lijstview en kies <span style="font-weight: bold;">Nieuwe View Categorie</span>. Een nieuwe viewcategorie verschijnt in de lijst, met de cursor knipperend in de <span style="font-weight: bold;">Naam</span> kolom.            </li>
            <li class="p">Voer een naam in voor de viewcategorie en druk op <span style="font-weight: bold;">Enter</span>.            </li>
            <li class="p">Sluit de Bibliotheek verkenner.            </li>
        </ol>
        <p>U kunt nu de door u gemaakte categorie toewijzen aan views in het project. Om een categorie aan een view toe te wijzen:</p>
        <ol style="list-style-type: decimal;">
            <li>Klik, in het tabblad <span style="font-weight: bold;">View</span>, in de <span style="font-weight: bold;">View </span>groep op het <b>View</b> keuzelijstje en selecteer <b>Meer Views</b>. Het <b>Meer Views</b>  dialoogvenster wordt nu getoond.           </li>
            <li>Wanneer de view die u wilt plaatsen in de categorie zich op dit moment in een andere viewcategorie bevindt, selecteer dan de viewcategorie die op dit moment aan de view is toegewezen in het <b>Categorie</b> veld.
</li>
            <li class="p">Kies de views waaraan u de categorie wilt toewijzen en klik op <span style="font-weight: bold;">Eigenschappen</span>. Het <span style="font-weight: bold;">View Eigenschappen</span> dialoogvenster wordt nu getoond.            </li>
            <li class="p">Selecteer de viewcategorie die u wilt toewijzen aan de view in het <span style="font-weight: bold;">Categorie</span> veld.            </li>
            <li class="p">Klik op <span style="font-weight: bold;">OK</span>.            </li>
        </ol>
        <p>Wanneer u een bepaalde viewcategorie niet meer in een project nodig heeft, kunt u deze in de Bibliotheek verkenner verwijderen. Merk op dat voordat u een viewcategorie kunt verwijderen u eerst een andere categorie moet toewijzen aan elke view die aan die te verwijderen categorie was toegewezen.</p>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p><a href="../Change_view_attributes/Change_view_attributes.htm">De attributen van een view veranderen</a>
        </p>
        <p><a href="../Create_save_open/Creating_a_view.htm">Een view creëren</a>
        </p>
        <p><a href="../Calendar_views/Calendar_views_intro.htm">Werken met kalender views</a>
        </p>
    </body>
</html>