<?xml version="1.0" encoding="utf-8"?>
<html MadCap:lastBlockDepth="6" MadCap:lastHeight="722" MadCap:lastWidth="1471" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="KLAAR" xml:lang="nl-nl" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Wie is;Wie kan;Wie zou moeten;Wie zou kunnen;Wie zal;Wie zou;Wie ben;Wat is;Wat doet;Wat doen;Wat kan;Wat zou;Wat zou kunnen;Wat zal;Wat ben;Hoe is;Hoe zijn;Hoe doet;Hoe kan;Hoe kan;Hoe zal;Hoe zou;Hoe ben;Waarom is; Waarom zijn; Waarom doet; Waarom doen; Waarom kan;  Waarom zal; Waarom zou; Waarom ben; Wanneer is; Wanneer doet; Wanneer kan; Wanneer kan; Wanneer zou; Wanneer ben;Waar is;Waar zijn;Waar doet;Waar doen;Waar kan;Waar moet;Waar zou kunnen;Waar zal;Waar zou;Waar ben;Wiens is;Wiens zijn;Wiens doet;Wiens doen;Wiens kan;Wiens zou;Wiens zou kunnen;Wiens wil;Wiens zou;Wiens ben;Wat is;Wat zijn;Wat doet;Wat doen;Wat kan;Wat zou moeten;Wat zou kunnen;Welke wil;Wat zou;Wat ben;Ik;Jij;Mijn;Jouw;Hun;Zijn;Haar;Views:specificeren welke te herladen wanneer een project heropend wordt;Projecten:specificeren welke weer te geven bij heropenen" />De views specificeren om te herladen wanneer een project heropend wordt</h1>
        <p>U kunt specificeren welke views moeten worden herladen en weergegeven worden wanneer een project heropend wordt. U kunt kiezen om terug te zetten, ofwel:</p>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Views_to_restore.flsnp" />
        <p>Om te specificeren welke views zouden moeten worden herladen wanneer een project opnieuw geopend wordt:</p>
        <ol style="list-style-type: decimal;">
            <li class="p" xmlns="">Klik op het tabblad <b>Bestand</b>, klik vervolgens op <b>Opties</b>. Het <span style="font-weight: bold;">Opties</span> dialoogvenster verschijnt.</li>
            <li class="p">Klik op het tabblad <span style="font-weight: bold;" xmlns="">View</span>.</li>
            <li class="p">Selecteer de view - of views - die zouden moeten worden herladen wanneer een project opnieuw geopend wordt in het <span style="font-weight: bold;" xmlns="">Herladen bij openen project </span>veld.<br xmlns="" /><br xmlns="" />Wanneer u ofwel de Gebruiker standaard view ofwel de Project standaard view selecteert, kunt u klikken op de <b>Bewerken</b> knop om deze views te veranderen.</li>
            <li class="p">Klik op <span style="font-weight: bold;" xmlns="">Sluiten</span> om uw wijzigingen op te slaan.</li>
        </ol>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Opmerkingen over het herladen van views wanneer een project wordt heropend</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <ul>
                    <li>Wanneer meer dan een voorkomen van een view geopend is terwijl een project wordt afgesloten, zal alleen het laatste opgeslagen voorkomen van de view herladen worden.</li>
                    <li>Views die worden weergegeven in de 'voorgangers en opvolgers' of 'pad naar taak' modus, views met standalone histogrammen en Line of Balance grafieken en views die waren geopend om taken in een linklus te identificeren of de taken op een bepaald punt in een histogram grafiek worden niet herladen wanneer een project heropend wordt.</li>
                    <li>Wanneer u specificeert dat ofwel de Gebruiker standaard view ofwel de Project standaard view zou moeten worden herladen wanneer een project opnieuw geopend wordt, maar de geselecteerde view niet is gespecificeerd, zal de laatste actieve view in plaats daarvan worden herladen.</li>
                    <li>Wanneer u specificeert dat een gefilterde view zou moeten worden herladen wanneer een project opnieuw geopend wordt en het filter aan de gebruiker vraagt hoe het filter moet worden toegepast, zal het filter dat nu ook weer vragen wanneer het project heropend wordt.</li>
                </ul>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p><a href="../../Multi_user/Specifying_user_access_rights/Specifying_user_access_rights.htm">Specificeren van standaard views voor gebruikers</a>
        </p>
        <p><a href="../../Structuring_your_project/Editing_the_properties_of_a_project/Project_default_view.htm">Specificeren van een standaard view voor een project</a>
        </p>
    </body>
</html>