<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="1202" MadCap:lastWidth="554" MadCap:conditions="Powerproject_Easyplan.Powerproject_only" class="KLAAR" xml:lang="nl-nl">
    <head>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Views:kopiëren van views vanuit het ene project naar een ander;Projecten:kopiëren van views vanuit het ene project naar een ander;Kopiëren:views vanuit het ene project naar een ander" />Kopiëren van een view naar een ander project</h1>
        <p>U kunt views vanuit het ene project naar een ander project kopiëren. Dit kan handig zijn wanneer u een view heeft aangemaakt in een project die ook u wilt gaan gebruiken in ander project zonder dat u de view attributen, filter, sortering/groepering en tabel in het andere project opnieuw op hoeft te zetten. Wanneer u een view vanaf het ene project naar een ander project kopieert, kunt u specificeren of de geassocieerde objecten, zoals de filter, de sortering/groepering en tabel van de view, met de view worden meegekopieerd naar het bestemmingsproject.</p>
        <p>Om een view vanuit het ene project naar een ander project te kunnen kopiëren, moeten beide projecten in <MadCap:variable name="Primary.Asta Asta Powerproject Name" /> geopend zijn.</p>
        <p>Om een view vanuit het ene project naar een ander project te kopiëren:</p>
        <ol>
            <li>Open het project met de view die u wilt kopiëren, en het project waarnaartoe u de view wilt kopiëren.</li>
            <li>In het project die de view bevat die u wilt kopiëren, klik op het <b>View</b> tabblad, in de <b>Views</b> groep, op de <b>View</b> dropdown en selecteer <b>Meer Views</b>. Het <b>Meer Views</b> dialoogvenster verschijnt.</li>
            <li>Selecteer de view die u wilt kopiëren en klik op <b>Kopiëren Naar</b>. Het <b>Kopieer View naar Project</b> dialoogvenster verschijnt.</li>
            <MadCap:snippetBlock src="../../../../Resources/Snippets/Copy_views.flsnp" />
        </ol>
        <p>De geselecteerde view is nu gekopieerd naar het bestemmingsproject.</p>
        <p class="RelatedTopics">Verwante Onderwerpen:</p>
        <p>
            <a href="Create_save_open.htm">Het aanmaken, opslaan en openen van views</a>
        </p>
    </body>
</html>