<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:id="Het aanmaken, opslaan en openen van views" MadCap:timeEstimate="0" MadCap:priority="0" class="KLAAR" xml:lang="nl-nl">
    <head>
        <title>
        </title>
    </head>
    <body>
        <h1>
            <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Easyplan_only">Openen en opslaan</MadCap:conditionalText>
            <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Aanmaken, opslaan en openen</MadCap:conditionalText> van views</h1>
        <p MadCap:conditions="Powerproject_Easyplan.Easyplan_only">Als u een project gebruikt dat eerder in <MadCap:variable name="Primary.Asta Asta Powerproject Name" /> is geopend, kunt u alle views die in <MadCap:variable name="Primary.Asta Asta Powerproject Name" /> in het project waren gemaakt openen, maar kunt u er geen wijzigingen van opslaan.</p>
        <p MadCap:conditions="Powerproject_Easyplan.Easyplan_only">Alle wijzigingen die u aanbrengt in de standaard balkkaart view of in de standaard kalender view, die de enige beschikbare views zijn, tenzij een project in <MadCap:variable name="Primary.Asta Asta Powerproject Name" /> was geopend, worden automatisch opgeslagen</p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Als u een view bewerkt, worden alle bewerkingen opgeslagen in de view als u het project opslaat, ongeacht of de view op dit moment actief is. Andere tabbladen die dezelfde view weergeven worden niet bijgewerkt met de door u in de view aangebrachte veranderingen  totdat ze gesloten en heropend worden.</p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Om een nieuwe view aan te maken, kunt u één van de volgende dingen doen:</p>
        <ul>
            <li class="p" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">De huidige view opslaan onder een nieuwe naam door te klikken op   <span style="font-weight: bold;">Opslaan als</span> in de <span style="font-weight: bold;">Views</span> groep op het tabblad <span style="font-weight: bold;">View</span><span style="font-weight: bold;">&#160;</span>.            </li>
            <li class="p" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Een nieuwe view aanmaken, gebaseerd op de huidige view door te klikken op <span style="font-weight: bold;">Nieuw</span> in de <span style="font-weight: bold;">Views</span> groep op het tabblad <span style="font-weight: bold;">View</span>.            </li>
        </ul>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Als u de opdracht <span style="font-weight: bold;">Nieuw</span> gebruikt om een nieuwe balkkaart view te creëren, kunt u een tabel, filter, sortering/groepering en standaard afdrukprofiel opgeven om toe te passen op de view. Als u de opdracht <span style="font-weight: bold;">Nieuw</span> gebruikt om een nieuwe kalender view te creëren, kunt u alleen een filter en standaard afdrukprofiel opgeven. Als u de opdracht <span style="font-weight: bold;">Opslaan Als</span> gebruikt, worden deze instellingen afgeleid van de huidige view, maar u kunt ze later aanpassen. U geeft aan of een view een project view of een gebruiker view als u de view aanmaakt.</p>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
            <a href="Creating_a_view.htm">Een view creëren</a>
        </p>
        <p>
            <a href="Saving_a_view.htm">Een view opslaan</a>
        </p>
        <p>
            <a href="Opening_a_view.htm">Een view openen</a>
        </p>
        <p>
            <a href="../Calendar_views/Calendar_views_intro.htm">Werken met kalender views</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
            <a href="Locking_views.htm">Vergrendelen van views om veranderingen te voorkomen</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
            <a href="View_APV.htm">Specificeren of een view beschikbaar is in Project Viewer</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
            <a href="../Introduction_to_views/Views_restore_reopen.htm">De views specificeren om te herladen wanneer een project heropend wordt</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
            <a href="Copy_view_to_another_project.htm">Kopiëren van een view naar een ander project</a>
        </p>
    </body>
</html>