<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:id="HTML Topics\Conceptual\Working_with_views\Creating,_saving_and_opening_views\Opening_a_view.htm" MadCap:timeEstimate="0" MadCap:priority="0" class="KLAAR" xml:lang="nl-nl">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Views:openen" />Een view openen</h1>
        <p>
            <MadCap:keyword term="Openen:views" />Om een view te openen, selecteert u een view uit de lijst met views in het submenu <span style="font-weight: bold;">View</span> van het menu <span style="font-weight: bold;">View</span>. <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Wanneer u uw views gecategoriseerd heeft verschijnt elke categorie op dit menu als een submenu daarvan, waarbij de views bij elke categorie als menu-opdrachten binnen de submenu's weergegeven worden. </MadCap:conditionalText><MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Easyplan_only">Als u een project gebruikt dat eerder is geopend in <MadCap:variable name="Primary.Asta Powerproject Name" /> en waarin views zijn gecategoriseerd, verschijnt elke categorie in dit menu als een verder submenu, waarbij de views binnen elke categorie verschijnen als menuopdrachten in elk submenu.</MadCap:conditionalText></p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Wanneer u een view opent, wordt deze standaard geopend met als domein de Programma kaart. Als u een view wilt openen met  het domein van de huidige actieve view, houdt u CTRL ingedrukt bij het selecteren van de view in de lijst met views. Als u dit doet, <MadCap:snippetText src="../../../../Resources/Snippets/Open_view_using_active_view_scope.flsnp" /></p>
        <p>Sommige views komen niet voor in het menu. Om een view te openen die niet in het menu voorkomt:</p>
        <ol>
            <li class="p">Klik, in het tabblad <span style="font-weight: bold;">View</span>, in de <span style="font-weight: bold;">Views</span> groep, op <span style="font-weight: bold;">Meer Views</span>. Het dialoogvenster <span style="font-weight: bold;">Meer Views</span> verschijnt.            </li>
            <li class="p">Selecteer de view die u wilt openen, </li>
            <li class="p" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Wanneer u de view wilt openen met het domein van de huidige actieve view, schakel dan het <b>Open via het actieve view domein</b> selectievakje in. </li>
            <li class="p">klik op <span style="font-weight: bold;">OK</span> om deze view te openen.            </li>
        </ol>
        <p>Wanneer u een view opent, wordt het toegevoegd aan de lijst van open tabbladen. Om te werken aan een view die u reeds hebt geopend en bewerkt, klikt u op haar tabblad. Als u een tweede exemplaar van deze view opent, zal dit tweede tabblad geen nog niet opgeslagen veranderingen bevatten die u misschien gemaakt zou willen hebben in het eerste tabblad of venster.</p>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><a href="Creating_a_view.htm">Een view creëren</a>
        </p>
        <p><a href="Saving_a_view.htm">Een view opslaan</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><a href="../Introduction_to_views/Categorising_views.htm">Categoriseren van views</a>
        </p>
        <p><a href="../Change_view_attributes/Configure_tabs.htm">Configureren hoe views worden getoond in tabbladen</a>
        </p>
        <p><a href="../../Starting_work/Starting_your_work_session/Working_with_tabbed_views.htm">Werken met views in tabbladen</a>
        </p>
    </body>
</html>