<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditions="Powerproject_Easyplan.Powerproject_only" class="KLAAR" xml:lang="nl-nl">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Wie is;Wie kan;Wie zou moeten;Wie zou kunnen;Wie zal;Wie zou;Wie ben;Wat is;Wat is;Wat doet;Wat doen;Wat kan;Wat zou;Wat zou kunnen;Wat zal;Wat zou;Wat ben;Hoe is;Hoe zijn;Hoe doet;Hoe kan;Hoe kan;Hoe zou;Hoe zou;Hoe zal;Hoe zou;Hoe ben;Waarom is; Waarom zijn; Waarom doet; Waarom doen; Waarom kan; Waarom zou; Waarom zou; Waarom zal; Waarom zou; Waarom ben; Wanneer is; Wanneer is; Wanneer doet; Wanneer kan; Wanneer kan; Wanneer zou; ;Wanneer zou;Wanneer ben;Waar is;Waar zijn;Waar doet;Waar doen;Waar kan;Waar moet;Waar zou kunnen;Waar zal;Waar zou;Waar ben;Wiens is;Wiens zijn;Wiens doet;Wiens doen;Wiens kan;Wiens zou;Wiens zou kunnen;Wiens wil;Wiens zou;Wiens ben;Wat is;Wat zijn;Wat doet;Wat doen;Wat kan;Wat zou moeten;Wat zou kunnen;Welke wil;Wat zou;Wat ben;Ik;Jij;Mijn;Jouw;Hun;Zijn;Haar;Views:specificeren van standaard voor elke gebruiker;Gebruikers:specificeren van standaard views voor" />Specificeren van standaard views voor gebruikers</h1>
        <p>U kunt een standaard view specificeren voor elke gebruiker, en specificeren dat deze  view zou moeten worden geopend wanneer de gebruiker een project opent.</p>
        <p>Om een standaard view voor een gebruiker te specificeren:</p>
        <ol style="list-style-type: decimal;">
            <li class="p">Rechtsklik op de gebruiker in de Bibliotheek Verkenner, selecteer <b>Eigenschappen</b>. Het <b>Gebruiker Eigenschappen</b> dialoogvenster verschijnt.</li>
            <li class="p">Selecteer de view waarvan u wilt dat die als standaard view wordt gebruikt wanneer de gebruiker het project opent in het <span style="font-weight: bold;">Standaard view</span> veld.</li>
            <li class="p">Klik op <span style="font-weight: bold;">OK</span> om uw wijzigingen op te slaan.</li>
        </ol>
        <p>Om te specificeren dat de Gebruiker standaard view moet verschijnen wanneer het project wordt geopend:</p>
        <ol style="list-style-type: decimal;">
            <li class="p" xmlns="">Klik in het tabblad <b>Bestand</b>, klik vervolgens op <b>Opties</b>. Het <span style="font-weight: bold;">Opties</span> dialoogvenster verschijnt.</li>
            <li class="p">Klik op het tabblad <span style="font-weight: bold;" xmlns="">View</span>.</li>
            <li class="p">Selecteer de Gebruiker standaard view in het <span style="font-weight: bold;" xmlns="">Herladen bij openen project </span>veld.</li>
            <li class="p">Klik op <span style="font-weight: bold;">OK</span> om uw wijzigingen op te slaan. </li>
        </ol>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p><a href="../Introduction_to_views/Introduction_to_views.htm">Introductie over views</a>
        </p>
        <p><a href="../../Structuring_your_project/Editing_the_properties_of_a_project/Project_default_view.htm">Specificeren van een standaard view voor een project</a>
        </p>
        <p xmlns=""><a href="../Introduction_to_views/Views_restore_reopen.htm">De views specificeren om te herladen wanneer een project heropend wordt</a>
        </p>
        <p><a href="../Calendar_views/Calendar_views_intro.htm">Werken met kalender views</a>
        </p>
    </body>
</html>