<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:id="HTML Topics\Conceptual\Working_with_views\Sorting_views\Creating,_applying_and_editing_sort_orders.htm" MadCap:timeEstimate="0" MadCap:priority="0" class="KLAAR" xml:lang="nl-nl">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Sorteringen/groeperingen:creëren;Creëren:sorteringen/groeperingen;Sorteringen/groeperingen:bewerken;Sorteringen/groeperingen:toepassen" />Aanmaken, toepassen en bewerken van sorteringen/groeperingen</h1>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Om een sortering/groepering te creëren</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <ol>
                    <li class="p" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Klik in het <b>View</b> tabblad in de <b>View Gegevens</b> groep in het  <b>Sortering/Groepering</b> keuzelijstje en selecteer <b>Nieuw</b> om een nieuwe sortering/groepering te creëren. Het dialoogvenster <span style="font-weight: bold;">Sortering/groepering Eigenschappen</span> verschijnt. <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Easyplan_only">Deze opdracht <b>Nieuw</b> is niet beschikbaar wanneer u geen balkkaart view geselecteerd heeft.</MadCap:conditionalText> Het dialoogvenster is onderverdeeld in een aantal tabbladen, waarbij u elke gebruikt om de sorteer/groepeer criteria van een ander soort view te definiëren. Het tabblad dat als eerste getoond wordt is bepaald door het soort view dat op dat moment actief is bij het oproepen van het dialoogvenster:</li>
                    <ul>
                        <li class="p" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Gebruik het tabblad <span style="font-weight: bold;">Balken/Taken</span> om de criteria te specificeren waarmee u de balken en taken in de projecthiërarchie wenst te sorteren. </li>
                        <li class="p" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Gebruik het tabblad <span style="font-weight: bold;">Permanente RBS</span> om de criteria te specificeren waarmee u de  toewijzingen in een permanente resources RBS view wenst te sorteren. </li>
                        <li class="p" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Gebruik het tabblad <span style="font-weight: bold;">Verbruiksgoederen</span> om te specificeren waarmee u de  toewijzingen in een verbruiksgoederen RBS view wenst te sorteren. </li>
                        <li class="p" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Gebruik het tabblad <span style="font-weight: bold;">CBS</span> om te specificeren waarmee u de  toewijzingen in een CBS view wenst te sorteren.</li>
                    </ul>
                    <li class="p" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Merk op dat u niet alle criteria hoeft  op te geven voor elk van de verschillende soorten view. Zo kunt u bijvoorbeeld alleen criteria opgeven om  balken en taken in de project hiërarchie te sorteren/groeperen. Indien dat het geval is, hoeft u alleen gebruik maken van het <b>Balken/Taken</b> tabblad en u kunt de rest van de tabbladen van het dialoogvenster te negeren. Merk ook op dat de tabbladen die betrekking hebben op andere soorten views dan de huidige niet standaard weergegeven. U kunt deze weergeven door te klikken op <b>Meer &gt;&gt;</b>. Als ze worden weergegeven, kunt u op <b>Minder &lt;&lt;</b> om ze uit het zicht te verbergen, waarmee het dialoogvenster vereenvoudigd wordt.</li>
                    <li class="p">Definieer uw sorteer/groepeer criteria door gebruik te maken van de velden op het dialoogvenster, en klik op <span style="font-weight: bold;">OK</span> om het dialoogvenster af te sluiten om de nieuwe sortering/groepering te laten creëren en daarna toe te passen op de huidige view.</li>
                </ol>
                <p>De naam van de actieve sortering/groepering wordt weergegeven in het meest rechterdeel van de statusbalk. Als een view een filter én een sortering/groepering heeft, wordt hier de naam van het filter  en de naam van de sortering/groepering weergegeven.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Om de huidige sortering/groepering uit te schakelen</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>Klik in het <b>Sorteren/Groeperen</b> keuzelijstje en selecteer <span style="font-weight: bold;">Natuurlijke Volgorde </span>in het  <b>View</b> tabblad, in de <b>View Gegevens</b> groep. U kunt ook  in de statusbalk op de naam van de sortering/groepering te klikken om deze uit te zetten bij de huidige  view. U kunt een sortering/groepering overrulen door te gaan <a href="../../Spreadsheet/Editing_the_spreadsheet/Sorting_on_spreadsheet_columns.htm">sorteren op een tabelkolom</a>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Om een sortering/groepering toe te passen op de actieve view</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>Selecteer de sortering/groepering  in de <span style="font-weight: bold;">Sorteren/Groeperen</span> keuzelijst in de van het <span style="font-weight: bold;">View Gegevens</span> groep op het <b>View</b> tabblad, of klik op <span style="font-weight: bold;">Meer Sortering/groeperingen</span>  in de <span style="font-weight: bold;">Sorteren/Groeperen</span> keuzelijst, en selecteer vervolgens de sortering/groepering die u wenst toe te passen met het dialoogvenster <span style="font-weight: bold;">Meer Sortering/groeperingen</span>. Wanneer u de sorteringen/groeperingen in een gecategoriseerd heeft, verschijnen de sorteringen/groeperingen in hun categorieën.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Om een nieuwe sortering/groepering te creëren op basis van een huidige</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <ol>
                    <li class="p">Klik in het <b>View</b> tabblad in de <b>View Gegevens</b> groep in het  <b>Sortering/Groepering</b> keuzelijstje en selecteer <b>Opslaan Als</b>. Het <span style="font-weight: bold;">Opslaan sortering/groepering</span> dialoogvenster verschijnt.</li>
                    <li class="p">Typ een naam voor de nieuwe sortering/groepering, specificeer een categorie om er aan toe te wijzen indien gewenst en klik op <span style="font-weight: bold;">OK</span>. U kunt vervolgens de nieuwe sortering/groepering wijzigen om de door u gewenste criteria in te stellen.</li>
                </ol>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Om een sortering/groepering te wijzigen</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>Om de <b style="font-weight: normal;">eigenschappen </b>van een op dit moment toegepaste sortering/groepering te wijzigen, klik in het tabblad <b>View</b>, in de <b>View Gegevens</b> groep, op het <b>sortering/groepering</b> keuzelijstje en selecteer <b>Eigenschappen</b> om het <span style="font-weight: bold;">Sortering/groepering Eigenschappen</span> dialoogvenster weer te geven.</p>
                <p>Om de <b style="font-weight: normal;">eigenschappen </b>van een andere sortering/groepering weer te geven:</p>
                <ol>
                    <li class="p">Klik in het <b>View</b> tabblad in de <b>View Gegevens</b> groep in het  <b>sortering/groepering</b> keuzelijstje en selecteer <b><span style="font-weight: bold;">Meer Sorteringen/groeperingen</span></b> om het  <span style="font-weight: bold;">Meer Sorteringen/groeperingen</span> dialoogvenster weer te geven.</li>
                    <li class="p">Selecteer de sortering/groepering die u wilt wijzigen en klik op <b>Eigenschappen</b> om het <span style="font-weight: bold;">Sortering/groepering Eigenschappen</span> dialoogvenster weer te geven.</li>
                </ol>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <p>U kunt in de Bibliotheek Verkenner ook sorteringen/groeperingen creëren, wijzigen, kopiëren en verwijderen.</p>
        <p class="RelatedTopics">Verwante Onderwerpen:</p>
        <p><a href="Sorting_views.htm">Sorteren en groeperen van views</a>
        </p>
        <p><a href="Sort_hierarchy.htm">Sorteer/groepeer criteria specificeren voor de projecthiërarchie</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><a href="Sort_perm_RBS.htm">Sorteer/groepeer criteria specificeren bij een permanente resources RBS view</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><a href="Sort_cons_RBS.htm">Sorteer/groepeer criteria specificeren voor een verbruiksgoederen RBS view</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><a href="Sort_CBS.htm">Sorteer/groepeer criteria specificeren  bij een CBS view</a>
        </p>
        <p><a href="Categorising_sort_orders.htm">Categoriseren van sorteringen/groeperingen</a>
        </p>
    </body>
</html>