<?xml version="1.0" encoding="utf-8"?>
<html MadCap:lastBlockDepth="4" MadCap:lastHeight="545" MadCap:lastWidth="862" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="KLAAR" xml:lang="nl-nl" MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Sorteringen/groeperingen:behouden van de resources en kostengroep hiërarchieën bij filteren;Sorteren/groeperen:behouden van de resources en kostengroep hiërarchieën bij filteren" />Behouden van de resources en kostengroep hiërarchieën in gefilterde sorteringen/groeperingen</h1>
        <p>Wanneer u een filter toepast op een gesorteerde/gegroepeerde view die items sorteert/groepeert op permanente resource vaardigheden, verbruiksgoederen of kostengroepen, kan door het toepassen van het filter de resource of kostengroep hiërarchie afgevlakt worden. </p>
        <p>Om dit te vermijden, voeg een sorteer/groepeer criterium toe dat gebaseerd is op permanente resource vaardigheid, verbruiksgoederen of kostengroepen, en waarbij de Resources hiërarchie geselecteerd is in de <b>Attribuut</b> kolom in het<span style="font-weight: bold;"> Sorteer/Groepeer Eigenschappen</span> dialoogvenster. Het toevoegen van zo een sorteer criterium betekent dat de resource of kostengroep hiërarchie behouden blijft zelfs als een filter wordt toegepast op de gesorteerde/gegroepeerde view.</p>
        <p>Merk op dat de resource of kostengroep hiërarchie normaal gesproken automatisch behouden blijft in gesorteerde/gegroepeerde RBS en CBS views, behalve als er:</p>
        <ul>
            <li>Een filter op de view wordt toegepast.</li>
            <li>Het selectievakje <b>Hiërarchie afvlakken </b> op het <b><span style="font-weight: bold;">Sorteer/Groepeer Eigenschappen</span></b> dialoogvenster is ingeschakeld.</li>
        </ul>
        <p class="RelatedTopics">Verwante Onderwerpen:</p>
        <p><a href="Sort_perm_RBS.htm">Sorteer/groepeer criteria specificeren bij een permanente resources RBS view</a>
        </p>
        <p><a href="Sort_cons_RBS.htm">Sorteer/groepeer criteria specificeren voor een verbruiksgoederen RBS view</a>
        </p>
        <p><a href="Sort_CBS.htm">Sorteer/groepeer criteria specificeren bij een CBS view</a>
        </p>
        <p><a href="Sorting_using_hierarchical_code_libraries.htm">Omgaan met codebibliotheek en WBS hiërarchieën in sorteringen/groeperingen</a>
        </p>
    </body>
</html>