<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="KLAAR" xml:lang="nl-nl">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Wie is;Wie kan;Wie zou moeten;Wie zou kunnen;Wie zal;Wie zou;Wie ben;Wat is;Wat doet;Wat doen;Wat kan;Wat zou;Wat zou kunnen;Wat zal;Wat zou;Wat ben;Hoe is;Hoe zijn;Hoe doet;Hoe kan;Hoe kan;Hoe zal;Hoe zou;Hoe ben;Waarom is; Waarom zijn; Waarom doet; Waarom doen; Waarom kan;  Waarom zal; Waarom zou; Waarom ben; Wanneer is; Wanneer is; Wanneer doet; Wanneer kan; Wanneer kan; Wanneer zou; Wanneer ben;Waar is;Waar zijn;Waar doet;Waar doen;Waar kan;Waar moet;Waar zou kunnen;Waar zal;Waar zou;Waar ben;Wiens is;Wiens zijn;Wiens doet;Wiens doen;Wiens kan;Wiens zou;Wiens zou kunnen;Wiens wil;Wiens zou;Wiens ben;Wat is;Wat zijn;Wat doet;Wat doen;Wat kan;Wat zou moeten;Wat zou kunnen;Welke wil;Wat zou;Wat ben;Ik;Jij;Mijn;Jouw;Hun;Zijn;Haar;Tabbladen:configureren hoe views in tabbladen worden weergegeven;Tabbladen" />Configureren hoe views worden getoond in tabbladen</h1>
        <p>U kunt de manier waarop views in tabbladen worden getoond in <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><MadCap:variable name="Primary.Asta Powerproject Name" /></MadCap:conditionalText><MadCap:variable name="Primary.Easyplan Name" MadCap:conditions="Powerproject_Easyplan.Easyplan_only" /> configureren. U kunt de locatie van de tabbladen configureren en opgeven of u kleuren op de tabbladen wilt toepassen, waardoor u gemakkelijker kunt identificeren welke views bij welk project horen als u meer dan één project tegelijk geopend heeft. <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only">U kunt ook configureren of uw gebruikersnaam weergegeven wordt op de view tabbladtitels, in projecten waarin meer dan één gebruiker is gedefinieerd.</MadCap:conditionalText></p>
        <p>Om de manier waarop views worden getoond in tabbladen te configureren:</p>
        <ol>
            <li class="p">Klik op het tabblad <b>Bestand</b>, klik vervolgens op <span style="font-weight: bold;">Opties</span>. Het <span style="font-weight: bold;">Opties</span> dialoogvenster verschijnt.            </li>
            <li class="p">Klik op het <span style="font-weight: bold;">Algemeen</span> tabblad, klik vervolgens op de <span style="font-weight: bold;">Tabblad Opties</span> knop. Het <span style="font-weight: bold;">Tabblad Weergave Opties</span> dialoogvenster verschijnt.            </li>
            <li class="p">Specificeer of de tabbladen moeten verschijnen boven of onder de views in het <span style="font-weight: bold;">Locatie</span> veld.</li>
            <MadCap:dropDown>
                <MadCap:dropDownHead>
                    <MadCap:dropDownHotspot>Voorbeeld:</MadCap:dropDownHotspot>
                </MadCap:dropDownHead>
                <MadCap:dropDownBody>
                    <p><a name="Configure_tabs_location"></a>Tabbladen tonen boven de views:</p>
                    <p>
                        <img src="../../../../Graphics/Views/tabstop.gif" style="border: none;" border="0" />
                    </p>
                    <p>Tabbladen tonen onder de views:</p>
                    <p>
                        <img src="../../../../Graphics/Views/tabsbottom.gif" style="border: none;" border="0" />
                    </p>
                </MadCap:dropDownBody>
            </MadCap:dropDown>
            <li class="p">Specificeer de wijze waarop de views worden weergegeven in tabbladen - en of de views al dan niet in tabbladen worden weergegeven - in het  <b>Tabblad modus</b> veld. Wanneer u er niet voor kiest om de views in tabbladen te tonen, wordt elke view in een apart venster weergegeven.</li>
            <li class="p">Schakel het selectievakje <b xmlns="http://www.w3.org/1999/xhtml">Gebruik tab kleuring </b> in om tabkleuring toe te passen op de tabs die verschijnen bovenaan elke view. <MadCap:snippetText src="../../../../Resources/Snippets/Tab_colouring_4.flsnp" /> Zie het gedeelte hieronder voor meer informatie over tabkleuring.<br /><br /><MadCap:snippetText src="../../../../Resources/Snippets/Tab_colouring_5.flsnp" /></li>
            <li>
                <MadCap:dropDown MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
                    <MadCap:dropDownHead>
                        <MadCap:dropDownHotspot>Illustratie</MadCap:dropDownHotspot>
                    </MadCap:dropDownHead>
                    <MadCap:dropDownBody>
                        <p xmlns="http://www.w3.org/1999/xhtml">Tabs die met een andere kleur voor elk project worden weergegeven, waardoor het makkelijker is om te identificeren welke views bij welk project horen:</p>
                        <p xmlns="http://www.w3.org/1999/xhtml">
                            <img src="../../../../Graphics/Views/tabscolour.png" xmlns="http://www.w3.org/1999/xhtml" />
                        </p>
                        <MadCap:snippetBlock src="../../../../Resources/Snippets/Tab_colouring_6.flsnp" />
                        <p xmlns="http://www.w3.org/1999/xhtml">Tabs die zonder tabkleuring worden weergegeven, waardoor het moeilijker is om te identificeren welke views bij welk project horen:</p>
                        <p xmlns="http://www.w3.org/1999/xhtml">
                            <img src="../../../../Graphics/Views/tabsnocolour.png" xmlns="http://www.w3.org/1999/xhtml" />
                        </p>
                    </MadCap:dropDownBody>
                </MadCap:dropDown>
            </li>
            <li>Klik op <b>OK</b>. Uw wijzigingen worden gerealiseerd. Merk op dat wanneer u de instelling in het Tabblad modus veld verandert, uw veranderingen pas doorgevoerd worden nadat u  <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><MadCap:variable name="Primary.Asta Powerproject Name" /></MadCap:conditionalText><MadCap:variable name="Primary.Easyplan Name" MadCap:conditions="Powerproject_Easyplan.Easyplan_only" /> afgesloten en weer opnieuw opgestart hebt.</li>
        </ol>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Kleuren toepassen op tabs</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>Als u het selectievakje <b>Gebruik tab kleuring</b> gebruiken inschakelt om kleuren toe te passen op de tabbladen die bovenaan elke weergave verschijnen, kunt u voor elk project een andere standaard tabbladkleur toepassen, waardoor het praktisch wordt om te bepalen welke views bij welk project horen wanneer u meer dan één project uitgebreid geopend. Aan alle projecten wordt een standaardtabkleur toegewezen wanneer u ze maakt, en alle weergaven nemen deze tabkleur over van het project.</p>
                <p>U kunt de standaard tabkleur wijzigen die aan elk project is toegewezen. Als u van plan bent om meer dan één project tegelijk geopend te hebben in <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><MadCap:variable name="Primary.Powerproject Name" /></MadCap:conditionalText><MadCap:variable name="Primary.Easyplan Name" MadCap:conditions="Powerproject_Easyplan.Easyplan_only" />, is het handig om voor elk project een andere tabkleur toe te passen, zodat u eenvoudig kunt identificeren welke weergaven bij welk project horen.</p>
                <p>Om dit te doen:</p>
                <ol>
                    <li>Open een project in <MadCap:variable name="Primary.Powerproject Name" MadCap:conditions="Powerproject_Easyplan.Powerproject_only" /><MadCap:variable name="Primary.Easyplan Name" MadCap:conditions="Powerproject_Easyplan.Easyplan_only" />.</li>
                    <li>Klik op het <b xmlns="http://www.w3.org/1999/xhtml">Bestand</b> tabblad, en klik vervolgens op <b xmlns="http://www.w3.org/1999/xhtml">Eigenschappen</b>.</li>
                    <li>Selecteer een kleur op toe te passen op de tabs van het project in het <b>Standaard tab kleur</b> veld.</li>
                    <li>Sla het project op.</li>
                </ol>
                <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Als u een andere tabkleur wilt toepassen op een of meer specifieke views, waarbij de standaard tabkleur van het project wordt overschreven, kunt u dit doen door een kleur toe te passen op een viewcategorie en de viewcategorie vervolgens aan de views toe te wijzen.</p>
                <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Om dit te doen:</p>
                <ol MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
                    <li>Ofwel <a href="../Introduction_to_views/Categorising_views.htm" xmlns="http://www.w3.org/1999/xhtml">creëer een nieuwe viewcategorie</a>, of bewerk een bestaande viewcategorie.</li>
                    <li>In het <b xmlns="http://www.w3.org/1999/xhtml">View Categorie Eigenschappen</b> dialoogvenster, specificeer een kleur om toe te passen op de tabs in het <b xmlns="http://www.w3.org/1999/xhtml">Tab kleur</b> veld een klik op <b>Sluiten</b>.</li>
                    <li><a href="../Introduction_to_views/Categorising_views.htm" xmlns="http://www.w3.org/1999/xhtml">Wijs de viewcategorie toe aan één of meer views</a>. De tabkleur die u specificeert wordt toegepast op de tabs van deze views, en overruled de standaard project tabkleur.</li>
                </ol>
                <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only" xmlns="http://www.w3.org/1999/xhtml">Om te voorkomen dat de tabkleur van de viewcategorieën de standaardkleur van het projecttabblad overschrijft, bewerkt u de viewcategorie en selecteert u 'Geen' in het <b xmlns="http://www.w3.org/1999/xhtml">Tab kleur</b> veld  in het dialoogvenster <b xmlns="">Viewcategorie Eigenschappen</b>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Om te specificeren of uw gebruikersnaam weergegeven wordt op de view tabbladtitels, bij multi-user  projecten:</p>
        <ol MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
            <li>Klik op het <b>Bestand</b> tabblad, klik vervolgens op <b>Opties</b>. Het <b>Opties</b> dialoogvenster verschijnt.</li>
            <li>Klik op het <b>View</b> tabblad.</li>
            <li>Schakel het <b>Verberg gebruikersnaam in view tabbladtitels</b><MadCap:snippetText src="../../../../Resources/Snippets/View_title_user_name_1.flsnp" /><MadCap:snippetText src="../../../../Resources/Snippets/View_title_user_name_2.flsnp" /></li>
            <MadCap:dropDown>
                <MadCap:dropDownHead>
                    <MadCap:dropDownHotspot>Illustratie</MadCap:dropDownHotspot>
                </MadCap:dropDownHead>
                <MadCap:dropDownBody>
                    <p>Gebruikersnaam weergegeven op tabbladtitels:</p>
                    <p>
                        <img src="../../../../Graphics/Views/namesintabs1.gif" alt="" style="border: none;" border="0">
                        </img>
                    </p>
                    <p>Gebruikersnaam weggelaten op view tabbladtitels:</p>
                    <p>
                        <img src="../../../../Graphics/Views/namesintabs2.gif" alt="" style="border: none;" border="0">
                        </img>
                    </p>
                </MadCap:dropDownBody>
            </MadCap:dropDown>
            <li>Klik op <b>Sluiten</b></li>
        </ol>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p><a href="../../Starting_work/Starting_your_work_session/Working_with_tabbed_views.htm">Werken met views in tabbladen</a>
        </p>
        <p><a href="../Introduction_to_views/Introduction_to_views.htm">Introductie van views</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><a href="../Create_save_open/Creating_a_view.htm">Een view creëren</a>
        </p>
        <p><a href="../Create_save_open/Opening_a_view.htm">Een view openen</a>
        </p>
        <p><a href="../../Starting_work/Starting_your_work_session/Opening_windows_onto_a_project.htm">Vensters bij een project openen</a>
        </p>
        <p><a href="../Calendar_views/Calendar_views_intro.htm">Werken met kalender views</a>
        </p>
        <p><a href="../Introduction_to_views/Categorising_views.htm">Categoriseren van views</a>
        </p>
    </body>
</html>