<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="KLAAR" xml:lang="nl-nl">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Tabbladen:configureren hoe views in tabbladen worden weergegeven;Tabbladen" />Configureren hoe views worden getoond in tabbladen</h1>
        <p>U kunt de manier waarop views in tabbladen worden getoond in <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><MadCap:variable name="Primary.Asta Powerproject Name" /></MadCap:conditionalText><MadCap:variable name="Primary.Easyplan Name" MadCap:conditions="Powerproject_Easyplan.Easyplan_only" /> configureren. Net als configureren van de locatie en opmaak van de tabbladen, kunt u kiezen of de views zelf al dan niet worden getoond op tabs. <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only">U kunt ook configureren of uw gebruikersnaam weergegeven wordt op de view tabbladtitels, in projecten waarin meer dan één gebruiker is gedefinieerd.</MadCap:conditionalText></p>
        <p>Om de manier waarop views worden getoond in tabbladen te configureren:</p>
        <ol>
            <li class="p">Klik op het tabblad <b>Bestand</b>, klik vervolgens op <span style="font-weight: bold;">Opties</span>. Het <span style="font-weight: bold;">Opties</span> dialoogvenster verschijnt.            </li>
            <li class="p">Klik op het <span style="font-weight: bold;">Algemeen</span> tabblad, klik vervolgens op de <span style="font-weight: bold;">Tabblad Opties</span> knop. Het <span style="font-weight: bold;">Tabblad Weergave Opties</span> dialoogvenster verschijnt.            </li>
            <li class="p">Specificeer of de tabbladen moeten verschijnen boven of onder de views in het <span style="font-weight: bold;">Locatie</span> veld.</li>
            <MadCap:dropDown>
                <MadCap:dropDownHead>
                    <MadCap:dropDownHotspot>Voorbeeld:</MadCap:dropDownHotspot>
                </MadCap:dropDownHead>
                <MadCap:dropDownBody>
                    <p><a name="Configure_tabs_location"></a>Tabbladen tonen boven de views:</p>
                    <p>
                        <img src="../../../../Graphics/Views/tabstop.gif" style="border: none;" border="0" />
                    </p>
                    <p>Tabbladen tonen onder de views:</p>
                    <p>
                        <img src="../../../../Graphics/Views/tabsbottom.gif" style="border: none;" border="0" />
                    </p>
                </MadCap:dropDownBody>
            </MadCap:dropDown>
            <li class="p">Specificeer de wijze waarop de views worden weergegeven in tabbladen - en of de views al dan niet in tabbladen worden weergegeven - in het  <b>Tabblad modus</b> veld. Wanneer u er niet voor kiest om de views in tabbladen te tonen, wordt elke view in een apart venster weergegeven.</li>
            <li>Klik op <b>OK</b>. Uw wijzigingen worden gerealiseerd. Merk op dat wanneer u de instelling in het Tabblad modus veld verandert, uw veranderingen pas doorgevoerd worden nadat u  <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><MadCap:variable name="Primary.Asta Powerproject Name" /></MadCap:conditionalText><MadCap:variable name="Primary.Easyplan Name" MadCap:conditions="Powerproject_Easyplan.Easyplan_only" /> afgesloten en weer opnieuw opgestart hebt.</li>
        </ol>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Om te specificeren of uw gebruikersnaam weergegeven wordt op de view tabbladtitels, bij multi-user  projecten:</p>
        <ol MadCap:conditions="Powerproject_Easyplan.Powerproject_only">
            <li>Klik op het <b>Bestand</b> tabblad, klik vervolgens op <b>Opties</b>. Het <b>Opties</b> dialoogvenster verschijnt.</li>
            <li>Klik op het <b>View</b> tabblad.</li>
            <li>Schakel het <b>Verberg gebruikersnaam in view tabbladtitels</b><MadCap:snippetText src="../../../../Resources/Snippets/View_title_user_name_1.flsnp" /><MadCap:snippetText src="../../../../Resources/Snippets/View_title_user_name_2.flsnp" /></li>
            <MadCap:dropDown>
                <MadCap:dropDownHead>
                    <MadCap:dropDownHotspot>Illustratie</MadCap:dropDownHotspot>
                </MadCap:dropDownHead>
                <MadCap:dropDownBody>
                    <p>Gebruikersnaam weergegeven op tabbladtitels:</p>
                    <p>
                        <img src="../../../../Graphics/Views/namesintabs1.gif" alt="" style="border: none;" border="0">
                        </img>
                    </p>
                    <p>Gebruikersnaam weggelaten op view tabbladtitels:</p>
                    <p>
                        <img src="../../../../Graphics/Views/namesintabs2.gif" alt="" style="border: none;" border="0">
                        </img>
                    </p>
                </MadCap:dropDownBody>
            </MadCap:dropDown>
            <li>Klik op <b>Sluiten</b></li>
        </ol>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p><a href="../../Starting_work/Starting_your_work_session/Working_with_tabbed_views.htm">Werken met views in tabbladen</a>
        </p>
        <p><a href="../Introduction_to_views/Introduction_to_views.htm">Introductie van views</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><a href="../Create_save_open/Creating_a_view.htm">Een view creëren</a>
        </p>
        <p><a href="../Create_save_open/Opening_a_view.htm">Een view openen</a>
        </p>
        <p><a href="../../Starting_work/Starting_your_work_session/Opening_windows_onto_a_project.htm">Vensters bij een project openen</a>
        </p>
        <p><a href="../Calendar_views/Calendar_views_intro.htm">Werken met kalender views</a>
        </p>
    </body>
</html>