<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="KLAAR" xml:lang="nl-nl">
    <head>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Kalender views:introductie over;Kalender views;Views:kalender views;Kalender views:dag modus;Kalender views:week modus;Kalender views:maand modus;Kalender views:de datumkiezer gebruiken" />Werken met kalender views</h1>
        <p>
            <MadCap:snippetText src="../../../../Resources/Snippets/Calendar_views.flsnp" />
        </p>
        <p>Om een kalender view weer te geven, klik op het <b>View</b> tabblad, in de <b>Views</b> groep, op de <b>View</b> dropdown en selecteer de kalender view die u wilt weergeven. <MadCap:snippetText src="../../../../Resources/Snippets/Calendar_view_open_first_time.flsnp" /> <MadCap:snippetText src="../../../../Resources/Snippets/Calendar_view_save.flsnp" /></p>
        <p>Een voorbeeld kalender view wordt hieronder getoond:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view1.gif" />
        </p>
        <p>De kalender view is verdeeld in twee deelvensters: links bevindt zich de datumkiezer en rechts de kalender view zelf, met de taken<MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"> (of toewijzingen, als het bereik van de kalender view is ingesteld op een RBS- of CBS-view)</MadCap:conditionalText> die vallen op de geselecteerde datums. </p>
        <p>Voor elke taak<MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"> of toewijzing</MadCap:conditionalText> worden maximaal drie items met identificatiegegevens weergegeven. U kunt de weergegeven informatie configureren door de <a href="Calendar_views_formatting.htm">kalender view op te maken</a>. Als er onvoldoende ruimte is om alle informatie voor een taak<MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"> of toewijzing</MadCap:conditionalText> weer te geven, wordt er zoveel mogelijk van weergegeven, gevolgd door '...'. Beweeg de muisaanwijzer over een taak<MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"> of toewijzing</MadCap:conditionalText> in de kalender view om alle informatie in een pop-up weer te geven:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view_popup.gif" />
        </p>
        <p>U kunt taken in de kalender view selecteren door erop te klikken. Geselecteerde taken verschijnen omlijnd door een zwarte rechthoek:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view_selected_task.gif" />
        </p>
        <p>U kunt <b>CTRL</b>-en <b>SHIFT</b>-klikken om meer dan één taak tegelijk te selecteren.</p>
        <p>Om een taak te verwijderen wanneer een kalender view wordt weergegeven, rechtsklik erop en selecteer <b>Verwijderen</b>; om de eigenschappen van een taak te zien, rechtsklik erop en selecteer <b>Eigenschappen</b>.</p>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Calendar_view_drag_drop_assign.flsnp" />
        <h2>De kalender view datumkiezer gebruiken </h2>
        <p>Klik op een datum in de datumkiezer om die datum in de kalender view weer te geven, of klik op <b>Ga naar</b> om een datum in een menu te selecteren, inclusief de startdatum van het project, de huidige voortgangsrapportdatum en de einddatum van het project:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view16.gif" />
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">De project start- en einddatum zijn de start- en einddatum van het programma van projecten, niet van individuele projecten binnen een programma. Aangezien u voor elke view een andere datum dag 1 kunt specificeren, is het mogelijk om meer dan één datum dag 1 in een project te hebben; als u ervoor kiest om datum dag 1 te bekijken in de datumkiezer van de kalender view, zal de kalender view de vroegst bewerkte datum dag 1 in het project weergeven.</p>
        <p>U kunt de weergave van de datumkiezer in- en uitschakelen. Klik hiertoe met de rechtermuisknop op de kalender view en selecteer <b>Datumkiezer</b> of klik op <b>Datumkiezer</b> op het tabblad <b>Opmaak</b> in de groep <b>Weergeven / verbergen</b>.</p>
        <h2>Schakelen tussen de Dag, Week en Maand modi</h2>
        <p>De kalender view kan informatie weergeven in drie verschillende modi: Dag, Week en Maand. Om te schakelen tussen deze modi, rechtsklik op de kalender view en selecteer <b>Dag</b>, <b>Week</b>, of <b>Maand</b>, of klik op <b>Dag</b>, <b>Week</b> of <b>Maand</b>, op het <b>Opmaak</b> tabblad, in de <b>Weergave</b> groep.</p>
        <p>De kalender view schakelt indien nodig automatisch tussen deze modi om de datums die u selecteert in de datumkiezer het beste weer te geven. Als u bijvoorbeeld in de datumkiezer klikt en sleept om een groot blok met datums te selecteren in de dagmodus, schakelt de kalender view over naar de maandmodus; Als u <b>CTRL</b>-selecteert en een selectie van dagen in verschillende weken in de weekmodus selecteert, schakelt de kalender view over naar de maand- of dagmodus - afhankelijk van wat het meest geschikt is.</p>
        <h2>Werken in de Dag modus</h2>
        <p>In de dagmodus worden de taken<MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"> of toewijzingen</MadCap:conditionalText> weergegeven die vallen op de dag waarop u in de datumkiezer klikt. Taken met een duur langer dan de geselecteerde dag worden bovenaan de kalender view weergegeven, met hun start- en/of einddatums als deze datums niet op de geselecteerde dag vallen. Taken die volledig binnen de geselecteerde dag plaatsvinden, worden daaronder weergegeven, en geplaatst volgens hun start- en eindtijden:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view2.gif" />
        </p>
        <p>In de bovenstaande illustratie, die de taken toont die op 8 april vallen:</p>
        <ul>
            <li>De 'Plastering, Ground Floor' taak start op 6 April en eindigt op 8 April.</li>
            <li>De 'Electrics, First Floor' taak start op 6 April en eindigt op 9 April.</li>
            <li>De 'Shower and boiler, First Floor', 'Routing, First Floor' en 'Power sockets, First Floor' taken starten en eindigen op verschillende tijden op 8 April.</li>
        </ul>
        <p>In de dagmodus kunt u <b>CTRL</b> of <b>SHIFT</b> ingedrukt houden en op meerdere datums klikken om meer dan één datum tegelijkertijd weer te geven. In de onderstaande afbeelding is op 17, 18 en 19 maart met de <b>SHIFT</b>-klik in de datumkiezer geklikt, zodat in de kalender view informatie over alle drie deze dagen tegelijkertijd wordt weergegeven:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view3.gif" />
        </p>
        <p>U kunt ook meerdere dagen selecteren door op een dag in de datumkiezer te klikken en de muisaanwijzer over extra dagen te slepen.</p>
        <p>Klik in de dagmodus op de pijlen boven aan de kalender view om van de ene dag naar de andere te gaan:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view9.gif" />
        </p>
        <p>Klik op de pijl naar links om naar de vorige dag te gaan; klik op de pijl naar rechts om naar de volgende dag te gaan.</p>
        <h2>Werken in de Week modus</h2>
        <p>De weekmodus geeft de taken<MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"> of toewijzingen</MadCap:conditionalText> weer die vallen in de week waarin de datum waarop u klikt in de datumkiezer is opgenomen. Alle taken met een duur langer dan een dag worden bovenaan de kalender view weergegeven, met hun start- en/of einddatums als deze datums niet binnen de geselecteerde week vallen. Alle taken die volledig binnen een dag in de geselecteerde week plaatsvinden, worden daaronder weergegeven, geplaatst volgens hun start- en eindtijden:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view4.gif" />
        </p>
        <p>In de weekmodus kunt u <b>SHIFT</b> ingedrukt houden en op meerdere weken klikken om meer dan één week tegelijkertijd weer te geven. In de onderstaande afbeelding zijn de weken vanaf 8 en 15 maart <b>SHIFT</b>-geklikt in de datumkiezer, dus in de kalender view wordt tegelijkertijd informatie over beide weken weergegeven:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view7.gif" />
        </p>
        <p>Als u <b>CTRL</b>-klikt op één of meer dagen buiten de momenteel geselecteerde week in de weekmodus, wordt de kalender view bijgewerkt om de momenteel geselecteerde week plus de extra dagen weer te geven.</p>
        <p>Als u in de weekmodus dagen in meerdere weken selecteert door op een dag in de datumkiezer te klikken en de muisaanwijzer over meerdere dagen te slepen, wordt de kalender view overgeschakeld naar dag- of maandweergave, afhankelijk van wat het meest geschikt is.</p>
        <p>Klik in de weekmodus op de pijlen bovenaan de kalender view om van de ene week naar de andere te gaan:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view10.gif">
            </img>
        </p>
        <p>Klik op de pijl naar links om naar de vorige week te gaan; klik op de pijl naar rechts om naar de volgende week te gaan.</p>
        <h2>Werken in de Maand modus</h2>
        <p>De modus Maand geeft de taken<MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"> of toewijzingen</MadCap:conditionalText> weer die vallen in de maand waarin de datum waarop u in de datumkiezer klikt, is opgenomen. Zoveel mogelijk taken worden weergegeven voor elke dag van de maand:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view1.gif" />
        </p>
        <p>Als een dag meer tijd in beslag heeft genomen dan kan worden weergegeven in de maandmodus, verschijnt er een naar beneden wijzende pijl en ellips onderaan de dag:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view6.gif" />
        </p>
        <p>Klik op deze pijl om de dag weer te geven in de dagmodus, waarin ruimte is om alle gemaakte opnamen weer te geven.</p>
        <p>In de maandmodus kunt u <b>SHIFT</b> ingedrukt houden en op meerdere maanden klikken om datums van meer dan één maand tegelijkertijd weer te geven. In de onderstaande afbeelding zijn de datums in zowel maart als april <b>SHIFT</b>-geklikt in de datumkiezer, dus in de kalender view wordt tegelijkertijd informatie over beide maanden weergegeven</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view5.gif" />
        </p>
        <p>Klik in de maandmodus op de pijlen boven aan de kalender view om van de ene maand naar de andere te gaan:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view11.gif">
            </img>
        </p>
        <p>Klik op de pijl naar links om naar de vorige maand te gaan; klik op de pijl naar rechts om naar de volgende maand te gaan.</p>
        <h2>Mijlpalen in de kalender view</h2>
        <p>Mijlpalen verschijnen in de kalender view zoals afgebeeld hieronder:</p>
        <ul>
            <li>In de Dag modus:<br /><br /><img src="../../../../Graphics/Views/calendarviewmilestone1.gif" /></li>
            <li>In de Week modus:<br /><br /><img src="../../../../Graphics/Views/calendarviewmilestone2.gif" /></li>
            <li>In de Maand modus:<br /><br /><img src="../../../../Graphics/Views/calendarviewmilestone3.gif" /></li>
        </ul>
        <p>Mijlpaalweergaven kunnen variëren; mijlpalen verschijnen in de kalender views met hetzelfde uiterlijk als in de balkkaart views.</p>
        <h2>Datums bekijken die geen taken bevatten</h2>
        <p>Als de huidige selectie van datums in de kalender view geen opgenomen bevat, verschijnen de besturingselementen 'Vorige afspraak' en 'Volgende afspraak' links en rechts van de kalender view:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view12.gif" />
        </p>
        <p>Klik op deze knoppen om naar de vorige of volgende datum te gaan waarop wel taken aanwezig zijn. Als er geen vorige of volgende datum is waarop taken staan, worden deze bedieningselementen ghosted weergegeven. Het besturingselement 'Volgende afspraak' is ghosted in de bovenstaande afbeelding en geeft aan dat er geen datums na de momenteel geselecteerde datum zijn die taken bevatten.</p>
        <p class="RelatedTopics">Verwante Onderwerpen:</p>
        <p><a href="Calendar_views_scope.htm">Specificeren wat er wordt weergegeven in een kalender view</a>
        </p>
        <p><a href="Calendar_views_formatting.htm">Een kalender view opmaken</a>
        </p>
        <p><a href="../../Printing/Printing_the_active_view/Printing_calendar_views.htm">Specificeren hoe kalender views worden afgedrukt</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><a href="../Create_save_open/Create_save_open.htm">Aanmaken, opslaan en openen van views</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Easyplan_only"><a href="../Create_save_open/Create_save_open.htm">Openen en opslaan  van views</a>
        </p>
    </body>
</html>