<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="KLAAR" xml:lang="nl-nl">
    <head>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Wie is;Wie doet;Wie doet;Wie kan;Wie zou moeten;Wie zou kunnen;Wie zal;Wie zou;Wie ben;Wat is;Wat is;Wat doet;Wat doen;Wat kan;Wat zou;Wat zou kunnen;Wat zal;Wat zou;Wat ben;Hoe is;Hoe zijn;Hoe doet;Hoe kan;Hoe kan;Hoe zou;Hoe zou;Hoe zal;Hoe zou;Hoe ben;Waarom is; Waarom zijn; Waarom doet; Waarom doen; Waarom kan; Waarom zou; Waarom zou; Waarom zal; Waarom zou; Waarom ben; Wanneer is; Wanneer is; Wanneer doet; Wanneer kan; Wanneer kan; Wanneer zou; ;Wanneer zou;Wanneer ben;Waar is;Waar zijn;Waar doet;Waar doen;Waar kan;Waar moet;Waar zou kunnen;Waar zal;Waar zou;Waar ben;Wiens is;Wiens zijn;Wiens doet;Wiens doen;Wiens kan;Wiens zou;Wiens zou kunnen;Wiens wil;Wiens zou;Wiens ben;Wat is;Wat zijn;Wat doet;Wat doen;Wat kan;Wat zou moeten;Wat zou kunnen;Welke wil;Wat zou;Wat ben;Ik;Jij;Mijn;Jouw;Hun;Zijn;HaarKalender views:opmaken" />Een kalender view opmaken</h1>
        <p>Om een kalender view op te maken:</p>
        <ol>
            <li>Geef de kalender view weer.</li>
            <li>Klik op het <b>Opmaak</b> tabblad, in de <b>Opmaak</b> groep, op <b>Opmaak Kalender</b>. Het <b>Opmaak Kalender View</b> dialoogvenster verschijnt.<MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"> Dit dialoogvenster bestaat uit twee tabbladen. U gebruikt het <b>Algemeen</b> tabblad om aan te geven hoe taken worden weergegeven; u gebruikt het <b>Toewijzingen</b> tabblad om de manier aan te geven waarop toewijzingen worden weergegeven, wanneer de kalender view resource- of kostentoewijzingen weergeeft vanuit een RBS- of CBS-weergave - zie de secties hieronder voor details.</MadCap:conditionalText></li>
            <li>Klik op <b>Sluiten</b> wanneer u klaar bent met de opmaak van de kalender view.</li>
        </ol>
        <h2>Specificeer hoe taken worden ingekleurd</h2>
        <p>U gebruikt het tabblad <b>Algemeen</b> van het <b>Opmaak Kalender View</b> dialoogvenster om de manier te specificeren waarop taken ingekleurd worden. U kunt taken inkleuren volgens de opmaak van de codes die aan ze toegewezen is, of een standaard opmaak gebruiken voor elk type taak.</p>
        <p>Twee afbeeldingen van dezelfde kalender view worden hieronder getoond. In de eerste worden de taken ingekleurd volgens de opmaak van de eraan toegewezen codes:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view3.gif" />
        </p>
        <p>In de eerste worden de taken ingekleurd volgens de standaard opmaak van elk type taak, volgens het huidige geselecteerde kleurenschema:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view13.gif" />
        </p>
        <p>Het inkleuren van taken met de opmaak van de eraan toegewezen codes verschaft u een extra niveau informatie in de kalender view.</p>
        <p>Om taken in te kleuren volgens de opmaak van de eraan toegewezen codes:</p>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Format_calendar_view_5.flsnp" />
        <p>Om taken in te kleuren volgens de standaard opmaak van elk type taak:</p>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Format_calendar_view_6.flsnp" />
        <h2>Specificeren welke tabelvelden er op elke taak in de kalender view worden weergegeven</h2>
        <p>U gebruikt het tabblad <b>Algemeen</b> van het <b>Opmaak Kalender View</b> dialoogvenster om te specificeren welke tabelvelden er worden weergegeven op elke taak in the kalender view. <MadCap:snippetText src="../../../../Resources/Snippets/Format_calendar_view_8.flsnp" /></p>
        <p>In de volgende afbeelding worden er drie velden - Naam, Hoger-niveau naam en Duur - weergegeven op elke taak in de kalender view:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view14.gif" />
        </p>
        <p>In de volgende afbeelding worden er twee velden - Unieke taak ID en de 'Vaardigheden' codebibliotheeknaam - weergegeven op elke taak in de kalender view:</p>
        <p>
            <img src="../../../../Graphics/Views/calendar_view15.gif" />
        </p>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Format_calendar_view_7.flsnp" />
        <h2 MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Specificeren hoe toewijzingen worden ingekleurd</h2>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Format_calendar_view_9.flsnp" MadCap:conditions="Powerproject_Easyplan.Powerproject_only" />
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Om toewijzingen via de huidige opmaak van de taken waaraan ze zijn toegewezen in te kleuren:</p>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Format_calendar_view_10.flsnp" MadCap:conditions="Powerproject_Easyplan.Powerproject_only" />
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Om de toewijzingen via de opmaak van de juiste resource of kostengroep in te kleuren:</p>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Format_calendar_view_11.flsnp" MadCap:conditions="Powerproject_Easyplan.Powerproject_only" />
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Om de toewijzingen via de opmaak van een codebibliotheek die aan de toewijzing is toegewezen in te kleuren:</p>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Format_calendar_view_12.flsnp" MadCap:conditions="Powerproject_Easyplan.Powerproject_only" />
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only">Om de toewijzingen via de standaard opmaak van elk type toewijzing in te kleuren:</p>
        <MadCap:snippetBlock src="../../../../Resources/Snippets/Format_calendar_view_13.flsnp" MadCap:conditions="Powerproject_Easyplan.Powerproject_only" />
        <p class="RelatedTopics">Verwante Onderwerpen:</p>
        <p><a href="Calendar_views_scope.htm">Specificeren wat er wordt weergegeven in een kalender view</a>
        </p>
        <p><a href="Calendar_views_intro.htm">Werken met kalender views</a>
        </p>
        <p><a href="../../Structuring_your_project/Using_the_project_view/Hierarchies_in_the_project_view.htm">Hiërarchieën in de project view</a>
        </p>
        <p MadCap:conditions="Powerproject_Easyplan.Powerproject_only"><a href="../../RBS_CBS/RBS_CBS.htm">Werken met RBS en CBS views</a>
        </p>
        <p><a href="../../Printing/Printing_the_active_view/Printing_calendar_views.htm">Specificeren hoe kalender views worden afgedrukt</a>
        </p>
    </body>
</html>