<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:id="HTML Topics\Conceptual\Working_with_views\Spell-checking_a_view\Spell-checking_a_view.htm" MadCap:timeEstimate="0" MadCap:priority="0" class="KLAAR" xml:lang="nl-nl">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Wie is;Wie kan;Wie zou moeten;Wie zou kunnen;Wie zal;Wie zou;Wie ben;Wat is;Wat doet;Wat doen;Wat kan;Wat zou;Wat zou kunnen;Wat zal;Wat ben;Hoe is;Hoe zijn;Hoe doet;Hoe kan;Hoe kan;Hoe zal;Hoe zou;Hoe ben;Waarom is; Waarom zijn; Waarom doet; Waarom doen; Waarom kan;  Waarom zal; Waarom zou; Waarom ben; Wanneer is; Wanneer doet; Wanneer kan; Wanneer kan; Wanneer zou; Wanneer ben;Waar is;Waar zijn;Waar doet;Waar doen;Waar kan;Waar moet;Waar zou kunnen;Waar zal;Waar zou;Waar ben;Wiens is;Wiens zijn;Wiens doet;Wiens doen;Wiens kan;Wiens zou;Wiens zou kunnen;Wiens wil;Wiens zou;Wiens ben;Wat is;Wat zijn;Wat doet;Wat doen;Wat kan;Wat zou moeten;Wat zou kunnen;Welke wil;Wat zou;Wat ben;Ik;Jij;Mijn;Jouw;Hun;Zijn;Haar;Views:spellingcontrole;Spellingscontrole" />Een view op spelfouten controleren</h1>
        <p>U kunt de spelling van huidige view en de bibliotheek verkenner controleren. De spellingcontrole zal spelfouten vinden in namen, beschrijvingen en tekstnotities.</p>
        <p>Spellingcontrole uitvoeren:</p>
        <ol>
            <li class="p">Geef de balkkaart view of de Bibliotheek verkenner weer. Klik  op het tabblad  <span style="font-weight: bold;">View</span> op de opdracht <span style="font-weight: bold;">Spelling</span> in de <b>Controleren</b> groep. Het dialoogvenster <span style="font-weight: bold;">Spelling</span> verschijnt.            </li>
            <li class="p">Geef aan of u de gehele view of alleen de geselecteerde objecten op spelfouten wilt controleren.            </li>
            <li class="p">Schakel de optie <span style="font-weight: bold;">Inclusief onderliggende objecten</span> in om de huidige groep op spelling te controleren in plaats van alleen de huidige view of schakel de optie uit om de inhoud van <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only">niveau- en </MadCap:conditionalText>samenvattingstaken buiten de spellingcontrole te houden.            </li>
            <li class="p">Klik op <span style="font-weight: bold;">OK</span>. De  spellingcontrole wordt opgestart. Gebruik dit om de gegevens op spelling te controleren.            </li>
        </ol>
        <p>Als er een fout gevonden is, kunt u kiezen om de fout te corrigeren of te negeren.</p>
    </body>
</html>