<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="KLAAR" xml:lang="nl-nl">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Categoriseren:filters;Filters:categoriseren;Kalender views:categoriseren" />Categoriseren van filters</h1>
        <p>U gebruikt filtercategorieën om de filters in uw project te classificeren. U maakt de filter categorieën in de Bibliotheek verkenner. U kunt zoveel filtercategorieën creëren als u wenst. De afzonderlijke filters kunt u vervolgens in de geschikte filter categorieën plaatsen.</p>
        <p>Het op deze wijze categoriseren van filters maakt het makkelijker om de filter te vinden waarnaar u op zoek bent, bijvoorbeeld bij het selecteren van een filter om deze toe te passen op de actieve view. Telkens als u een filter selecteert staan deze ingedeeld in hun categorieën, waarbij alle niet bij een categorie horende filters onderaan de bestaande filtercategorieën worden weergegeven.</p>
        <p>Om een nieuwe filtercategorie te creëren:</p>
        <ol style="list-style-type: decimal;">
            <li class="p">Open de Bibliotheek verkenner.            </li>
            <li class="p">Open de Filtercategorie bibliotheek. Alle aanwezige filtercategorieën verschijnen in de lijstview.            </li>
            <li class="p">Rechtsklik op een leeg gebied in de lijstview en kies <span style="font-weight: bold;">Nieuwe Filtercategorie</span>. Een nieuwe filtercategorie verschijnt in de lijst, met de cursor knipperend in de <span style="font-weight: bold;">Naam</span> kolom.            </li>
            <li class="p">Voer een naam in voor de filtercategorie en druk op <span style="font-weight: bold;">Enter</span>.            </li>
            <li class="p">Sluit de Bibliotheek verkenner.            </li>
        </ol>
        <p>U kunt nu de door u gemaakte categorie toewijzen aan filters in het project. Om een categorie aan een filter toe te wijzen:</p>
        <ol style="list-style-type: decimal;">
            <li class="p">Klik, in het tabblad <span style="font-weight: bold;">View</span>, in de <span style="font-weight: bold;">View Gegevens</span> groep, op het <b>Filter</b> keuzelijstje en selecteer <b>Meer Filters</b>. Het <b>Meer Filters</b>  dialoogvenster wordt nu getoond.           </li>
            <li>Wanneer de filter die u wilt plaatsen in de categorie zich op dit moment in een andere filtercategorie bevindt, selecteer dan de filtercategorie die op dit moment aan de filter is toegewezen in het <b>Categorie</b> veld.
</li>
            <li class="p">Kies het filter waaraan u de categorie wilt toewijzen en klik op <span style="font-weight: bold;">Eigenschappen</span>. Het <span style="font-weight: bold;">Filter Eigenschappen</span> dialoogvenster wordt nu getoond.            </li>
            <li class="p">Selecteer de filtercategorie die u wilt toewijzen aan de filter in het <span style="font-weight: bold;">Categorie</span> veld.            </li>
            <li class="p">Klik op <span style="font-weight: bold;">OK</span>.            </li>
        </ol>
        <p>Wanneer u een bepaalde filtercategorie niet meer in een project nodig heeft, kunt u deze in de Bibliotheek verkenner verwijderen. Merk op dat voordat u een filtercategorie kunt verwijderen u eerst een andere categorie moet toewijzen aan elke filter die aan die te verwijderen categorie was toegewezen.</p>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p><a href="Applying_and_editing_filters.htm">Filters toepassen en bewerken</a>
        </p>
    </body>
</html>