<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:id="HTML Topics\Conceptual\Working_with_views\Filtering_for_specific_bars_or_tasks\Displaying_subheadings_in_filtered_views.htm" MadCap:timeEstimate="0" MadCap:priority="0" class="KLAAR" xml:lang="nl-nl">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Subtitels:weergeven in gefilterde views;Filters:subtitels weergeven in;Filter subtitels aaneenkoppelen;Weergeven:subtitels in gefilterde views" />Het weergeven van subtitels in gefilterde views</h1>
        <p>U kunt kiezen om subtitels weer te geven in gefilterde views die het kaartpad van de gefilterde objecten laten zien. Dit maakt het makkelijker om het gefilterde object te vinden in de samenvattingsgroep<MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only"> of subkaart</MadCap:conditionalText>. Dit doet u in het dialoogvenster Filter Subtitel Eigenschappen.</p>
        <p>In het volgende voorbeeld is een filter aangemaakt om te filteren op taken met een blauwe code; het filter gebruikt geen subtitels:</p>
        <table wrapperparagraphselector="P" style="margin-top: 14pt;" cellspacing="0" width="100%">
            <tr>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;"><span style="font-weight: normal;">Mallen ontwerpen</span>
                    </p>
                </td>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;">
                        <img src="../../../../Graphics/Views/filtersubheading1.gif" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;" width="159" height="14" border="0" />
                    </p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;"><span style="font-weight: normal;">Materiaal bestellen</span>
                    </p>
                </td>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;">
                        <img src="../../../../Graphics/Views/filtersubheading2.gif" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;" width="159" height="14" border="0" />
                    </p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;"><span style="font-weight: normal;">Productie</span>
                    </p>
                </td>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;">
                        <img src="../../../../Graphics/Views/filtersubheading3.gif" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;" width="159" height="14" border="0" />
                    </p>
                </td>
            </tr>
        </table>
        <p>De taken in het voorbeeld staan in een <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only">subkaart</MadCap:conditionalText><MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Easyplan_only">samenvattingsgroep</MadCap:conditionalText>, maar dit is niet meteen duidelijk zonder subtitels te gebruiken. Als u de het selectievakje <span style="font-weight: bold;">Subtitels invoegen</span> inschakelt, zou de gefilterde view er als volgt uit moeten zien:</p>
        <table wrapperparagraphselector="P" style="margin-top: 14pt;" cellspacing="0" width="100%">
            <tr>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;" bgcolor="#FFFFA2">
                    <p style="margin-bottom: 0;"><span style="font-weight: bold;"><span style="color: #000080;">Programma kaart <span class="style1">&#160;</span></span></span>
                    </p>
                </td>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;" bgcolor="#FFFFA2">&#160;</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;" bgcolor="#FFFFA2">
                    <p style="margin-bottom: 0;"><span style="font-weight: bold;"><span style="color: #000080;">Pakketten</span></span>
                    </p>
                </td>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;" bgcolor="#FFFFA2">&#160;</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;" bgcolor="#FFFFA2">
                    <p style="margin-bottom: 0;"><span style="font-weight: bold;"><span style="color: #000080;">Constructie</span></span>
                    </p>
                </td>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;" bgcolor="#FFFFA2">&#160;</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;"><span style="font-weight: normal;">Mallen ontwerpen</span>
                    </p>
                </td>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;">
                        <img src="../../../../Graphics/Views/filtersubheading1.gif" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;" width="159" height="14" border="0" />
                    </p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;"><span style="font-weight: normal;">Materiaal bestellen</span>
                    </p>
                </td>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;">
                        <img src="../../../../Graphics/Views/filtersubheading2.gif" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;" width="159" height="14" border="0" />
                    </p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;"><span style="font-weight: normal;">Productie</span>
                    </p>
                </td>
                <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                    <p style="margin-bottom: 0;">
                        <img src="../../../../Graphics/Views/filtersubheading3.gif" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;" width="159" height="14" border="0" />
                    </p>
                </td>
            </tr>
        </table>
        <p>Een subtitel wordt weergegeven voor elk niveau in de projecthiërarchie, van de <MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Powerproject_only">kaart</MadCap:conditionalText><MadCap:conditionalText MadCap:conditions="Powerproject_Easyplan.Easyplan_only">samenvattingsgroep</MadCap:conditionalText> die het programma weergeeft tot de kaart waarin de taken staan: Programma kaart, Pakketten en Constructie.</p>
        <p>Als u subtitels weergeeft in gefilterde views, komen samenvattingstaken niet voor in de view; die zijn vervangen door subtitels.</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>
                    Subtitels opmaken
                </MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>U kunt aangeven met welk lettertype en achtergrondkleur subtitels weergegeven dienen te worden. Dit doet u door de groep <span style="font-weight: bold;">Weergave</span> te gebruiken in het dialoogvenster <span style="font-weight: bold;">Filter Subtitel Eigenschappen</span>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>
                    Meerdere subtitels samenvoegen
                </MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>Als u vindt dat de subtitels teveel ruimte innemen, kunt u meerdere subtitels samenvoegen tot één subtitel waar een schuine voorwaartse streep (/) het volgende niveau in de projecthiërarchie aangeeft. Dit doet u door de optie <span style="font-weight: bold;">Samenvoegen subtitels</span> aan te vinken in het dialoogvenster <span style="font-weight: bold;">Filter Subtitel Eigenschappen</span>. Dit zou het volgende effect hebben op het bovenstaande voorbeeld:</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <div MadCap:targetName="t2">
            <table wrapperparagraphselector="P" cellspacing="0" width="100%">
                <tr>
                    <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;" bgcolor="#FFFFA2">
                        <p style="margin-bottom: 0;"><span style="font-weight: bold;"><span style="color: #000080;">Hoofdkaart/Pakketten/Constructie</span></span>
                        </p>
                    </td>
                    <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;" bgcolor="#FFFFA2">&#160;</td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                        <p style="margin-bottom: 0;"><span style="font-weight: normal;">Mallen ontwerpen</span>
                        </p>
                    </td>
                    <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                        <p style="margin-bottom: 0;">
                            <img src="../../../../Graphics/Views/filtersubheading1.gif" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;" width="159" height="14" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                        <p style="margin-bottom: 0;"><span style="font-weight: normal;">Materiaal bestellen</span>
                        </p>
                    </td>
                    <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                        <p style="margin-bottom: 0;">
                            <img src="../../../../Graphics/Views/filtersubheading2.gif" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;" width="159" height="14" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                        <p style="margin-bottom: 0;"><span style="font-weight: normal;">Productie</span>
                        </p>
                    </td>
                    <td style="vertical-align: middle;width: 50%;padding-left: 2px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;">
                        <p style="margin-bottom: 0;">
                            <img src="../../../../Graphics/Views/filtersubheading3.gif" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;" width="159" height="14" border="0" />
                        </p>
                    </td>
                </tr>
            </table>
            <p>Meerdere subtitels worden standaard tot één subtitel samengevoegd.</p>
        </div>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Subtitels beperken tot niveaus binnen de projecthiërarchie</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>Een andere manier om de ruimte voor subtitels te verminderen is door het aantal niveaus die worden weergegeven in de projecthiërarchie te beperken. Dit doet u door de optie <span style="font-weight: bold;">Niveau</span> aan te vinken in het dialoogvenster <span style="font-weight: bold;">Filter Subtitel Eigenschappen</span> en de niveaus te bepalen waarvoor u een subtitel wilt weergeven. Het bovenstaande voorbeeld heeft drie niveaus:</p>
                <ul>
                    <li class="p">Niveau 1 - Programma kaart            </li>
                    <li class="p">Niveau 2 - Pakketten.            </li>
                    <li class="p">Niveau 3 - Constructie.            </li>
                </ul>
                <p>Als u de subtitels beperkt tot niveau 1 en 2, worden de subtitels weergegeven voor Programma kaart en Pakketten, maar niet voor Constructie. Als u de subtitels beperkt tot niveau 2 en 3, worden de subtitels weergegeven voor Pakketten en Constructie, maar niet voor Programma kaart. Als u de subtitels beperkt tot niveau 3, wordt alleen een subtitel weergegeven voor Constructie.</p>
                <p>Subtitels zijn standaard beperkt tot niveau 2 tot 10.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p><a href="New_filter_Filter_Wizard.htm">Een nieuw filter maken met de Filter Wizard</a>
        </p>
    </body>
</html>