<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:id="HTML Topics\Conceptual\Working_with_views\Filtering_for_specific_bars_or_tasks\Using_a_filter_to_search_for_bars_and_tasks.htm" MadCap:timeEstimate="0" MadCap:priority="0"  MadCap:lastBlockDepth="4" MadCap:lastHeight="466" MadCap:lastWidth="1293" class="KLAAR" xml:lang="nl-nl">
    <head><title></title>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Filters:gebruiken om te zoeken naar balken en taken" />Een filter gebruiken om te zoeken naar balken en taken</h1>
        <p>U kunt een filter gebruiken om te zoeken naar balken, taken of toewijzingen die voldoen aan de filtercriteria. Balken, taken of toewijzingen die voldoen aan de filtercriteria worden geselecteerd weergegeven op de balkkaart in de actieve view.</p>
        <p>Voorbeeld: om een bepaalde code toe te wijzen aan alle taken die beginnen op een bepaalde datum, kunt u een filter toepassen om deze taken te selecteren. Vervolgens sleept u de code van Bibliotheek verkenner en plaatst u deze op één van de geselecteerde taken.</p>
        <p>Om een filter te gebruiken om balken, taken en toewijzingen te selecteren:</p>
        <ol>
            <li class="p">Klik in het tabblad <span style="font-weight: bold;">Start</span>, in de <span style="font-weight: bold;">Bewerken</span> groep, op <img src="../../../../Graphics/Ribbon/selectbyfilter.gif" />. Het dialoogvenster <span style="font-weight: bold;">Per Filter Selecteren</span> verschijnt.            </li>
            <li class="p">Selecteer het filter dat u wilt gebruiken.            </li>
            <li class="p">Schakel het <span style="font-weight: bold;">Inclusief voltooide secties</span> selectievakje in wanneer u wilt dat taken, of taaksecties, die al voltooid zijn toch geselecteerd worden, of schakel het selectievakje uit wanneer u wilt dat er alleen nog niet voltooide taken moeten worden geselecteerd.            </li>
            <li class="p">Klik op <span style="font-weight: bold;">OK</span>.            </li>
        </ol>
        <p>Klik op <span style="font-weight: bold;">Nieuw</span> in het scherm <span style="font-weight: bold;">Per Filter Selecteren</span> om een nieuw filter aan te maken, <span style="font-weight: bold;">Eigenschappen</span> om een bestaand filter te bewerken en <span style="font-weight: bold;">Verwijderen</span> om een bestaand filter te verwijderen.</p>
        <p class="RelatedTopics">Verwante onderwerpen:</p>
        <p><a href="Applying_and_editing_filters.htm">Filters toepassen en bewerken</a>
        </p>
    </body>
</html>